{% extends 'storkbabyapp/base.html' %}
{% block content %}

{% load static %}
  <form style="text-align:center; display: block;" class="form-inline my-2 my-lg-0" id="login_form" type="get" action="/storkbaby/login/submit" method="POST" style="margin: 0">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="email" placeholder="email" aria-label="email" id="emailbox" name="emailbox">
    <br />
    <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="password" id="passwordbox" name="passwordbox">
    <br /><br />
    <button class="btn btn-outline-success my-2 my-sm-0 bg-white" id="login_submit" type="submit">Login</button>
  </form>
{% endblock %}
