{% extends 'storkbabyapp/base.html' %}
{% load static %}
{% block content %}
<div class="container"> 
    {% for u in users %}
    <div class="row">
            <!-- personal information -->
            <div class="col-md" style="margin-top:20px">
                <div class="row">
                    <div class="col-md-2">
                        <img style="vertical-align:bottom" width="150" height="150" src="{% static 'profileM.png' %}">
                    <br><br>
                    </div>
                    <div class="col-md-3">
                        <h5> <a href="../{{u.1}}/profile">{{u.0}}</a>
                        </h5>
                    </div>
                    <div class="col-md-6">
                        {% if u.2 %}
                        Qualifications:
                        {% endif %}
                        <ul>
                        {% for q in u.2 %}
                            <li>{{q}}</li>
                        {% endfor %} 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}